<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- custom css file link  -->
    <link rel="stylesheet" href="ThanhToan.css">

</head>
<body>

<div class="container">

    <form action="">

        <div class="row">

            <div class="col">

                <h3 class="title">THÔNG TIN THANH TOÁN</h3>

                <div class="inputBox">
                    <span>Họ tên/Fullname:</span>
                    <input type="text" placeholder="">
                </div>
                <div class="inputBox">
                    <span>Email :</span>
                    <input type="email" placeholder="example@example.com">
                </div>
                <div class="inputBox">
                    <span>Số điện thoại/Phone :</span>
                    <input type="text" placeholder="">
                </div>
                <div class="inputBox">
                    <span>Đất nước/Contry :</span>
                    <input type="number" placeholder="">
                </div>
            </div>

            <div class="col">
                <h3 class="title">BILLING INFORMATION</h3>
                <div class="inputBox">              
                </div>
                <div class="inputBox">
                    <span>Địa chỉ/Address :</span>
                    <input type="text" placeholder="">
                </div>
                <div class="inputBox">
                    <span>Quận/Huyện/District</span>
                    <input type="text" placeholder="">
                </div>
                <div class="inputBox">
                    <span>Phường/Xã/Ward</span>
                    <input type="text" placeholder="">
                </div>


                <div class="flex">

                    <div class="inputBox">
                        <span>Đất nước/Contry</span>
                        <input type="number" placeholder="">
                    </div>
                    <div class="inputBox">
                        <span>Tỉnh/Thành/Province</span>
                        <input type="text" placeholder="">
                    </div>
                </div>

            </div>
    
        </div>

        <button class="btn-shine">Thanh toán</button>

    </form>

</div>    
    
</body>
</html>